In [1]:
from map_package.__init__ import create_app, db
from map_package.models import Trip, Zone

In [2]:

app = create_app()

In [ ]:
from sqlalchemy import func
with app.app_context():
    # how many trips from each origin to each destination
    z = db.session.query(Trip)\
        .with_entities(Trip.dms_orig,Trip.dms_dest,func.count(Trip.index))\
        .group_by(Trip.dms_orig,Trip.dms_dest).all()
    
    #t = db.session.query(Zone).filter_by(FAF_Zone=z[0]).first()


z

In [ ]:
import pandas as pd 

df = pd.DataFrame(z,columns=['origin','destination','num_trips'])

In [17]:
with app.app_context():
    z = db.session.query(Zone).all()

In [19]:
zone_dict = {x.FAF_Zone : x.FAF_Zone_D for x in z}

In [20]:
df['origin_name'] = df['origin'].map(zone_dict)
df['destination_name'] = df['destination'].map(zone_dict)

In [36]:
df.loc[df.origin_name == "New York NY-NJ-CT-PA (NY Part)"]

,origin,destination,num_trips,origin_name,destination_name
40,363,459,299,New York NY-NJ-CT-PA (NY Part),Rest of SC
50,363,419,217,New York NY-NJ-CT-PA (NY Part),Rest of OR
221,363,451,469,New York NY-NJ-CT-PA (NY Part),Charleston SC
238,363,371,414,New York NY-NJ-CT-PA (NY Part),Charlotte NC-SC (NC Part)
265,363,401,161,New York NY-NJ-CT-PA (NY Part),Oklahoma City OK
...,...,...,...,...,...
16808,363,63,567,New York NY-NJ-CT-PA (NY Part),San Diego CA
16847,363,222,107,New York NY-NJ-CT-PA (NY Part),Lake Charles-Jennings LA
17102,363,311,161,New York NY-NJ-CT-PA (NY Part),Omaha NE-IA (NE Part)
17120,363,411,248,New York NY-NJ-CT-PA (NY Part),Portland OR-WA (OR Part)
17183,363,485,319,New York NY-NJ-CT-PA (NY Part),El Paso TX-NM (TX Part)